@import '~antd/dist/antd.css';

.content {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonStyle {
  display: block;
  margin: 1rem 0;
  width: 100%;
}

.gridRow{
  margin: 1rem 0;
}

.title {
  align-self: center;
  color: #fff !important;
}

.login {
  height: 50%;
  width: 25%;
  background-color: white;
}
